#heroContent {
    margin-bottom: 50vw;
}

#heroDiv {
    position: absolute;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    top: -82px;
}

#heroTitle {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10vw;
    color: rgb(0, 162, 255);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    /* text-shadow: 1px 1px 2px rgb(0, 107, 18); */
}

#tacticalDeathmatchHeroTitleImage {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40vw;
    bottom: 10vw;
}

#karlsonBetterHeroTitleImage {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 80vw;
    bottom: -6.5vw;
}

#heroSubtitle {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 8vw;
    color: rgb(0, 162, 255);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    /* text-shadow: 1px 1px 2px rgb(0, 107, 18); */
}

a {
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

button {
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

a:hover {
    transform: scale(95%);
}

button:hover {
    transform: scale(95%);
}

#heroImage {
    object-fit: contain;
}