.gamePageNav {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 2.5vw;
    margin-top: -50px;
}

.gamePageNavCol {
    flex: 1 0;
    text-align: center;
    border: 2px solid var(--tertiary);
    background-color: #fff;
    border-radius: var(--radius);
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 2.5vw;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

#gamePageNavSelected {
    background-color: #CEFCFD;
    text-decoration: solid underline black 2px;
    font-weight: 500;
}

.gamePageNavCol:hover {
    transform: scale(95%);
}

@media (max-width: 700px) {
  .gamePageNav {
        margin-top: -100px;
    }
}

@media (max-width: 400px) {
    .gamePageNav {
        margin-top: -120px;
    }
    .gamePageNavCol {
        font-size: 3.5vw;
    }
}

@media (max-width: 360px) {
  .gamePageNav {
        margin-top: -170px;
    }
}